---
BasedOnStyle: Google
IndentWidth: 4
AccessModifierOffset: -2
AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
BinPackParameters: false
---
Language: Cpp
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left